


* {
  box-sizing: border-box;
}

html {
  font-family: "Tenor Sans", sans-serif;
    scroll-behavior: smooth;
  }

.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #bad4aa;
  z-index: 2;
}
.nav-bar ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  font-size: large;
}

.section1 {
  display: flex;
  align-content: center;
  justify-content: center;
  height: 100vh;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 70px;
}
.main-title {
  font-size: 100px;
}

.second-title {
  font-size: 50px;
}
.third-title {
  color: #7f7f7f;
}
.inline {
  display: inline-block;
}
img {
width: 70%;
margin: 10px;
border-radius: 5%;
}

.section2-1{
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

.section3 {
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px;
}
button {
  background-color: #e8e5e480;
  border-radius: 10%;
  border: none;
  padding: 5px 15px;
  font-family: "Tenor Sans", sans-serif;
}