* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-family: "Tenor Sans", sans-serif;
    scroll-behavior: smooth;
  }

a {
  text-decoration: none;
  color: #000000;
}

.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #bad4aac1;
  z-index: 2;
  padding: 25px;
}

.nav-bar ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  font-size: large;
}

.section1 {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100vh;
  background-color: #f0f0f0;
  background: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/125/265/original/pexels-visualsbysade-1042177.jpg?1714651723") rgba(0, 0, 0, 0.5) no-repeat fixed; /* Optional: prevent repeating image */
  background-size: cover;
}

.main-title {
  font-size: 100px;
  color: #ffb703;
}

.second-title {
  font-size: 50px;
  color: #ffb703;
}

.third-title {
  color: #ffb703;
}

.section2-1 {
  display: grid;
  width: 100%;
  margin: 100px 0px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;

  /* justify-content: space-evenly; */
  justify-items: center;
  align-content: space-evenly;
  align-items: center;
}

.btn_1 {
  background-color: #ffb703;
  border: none;
  border-radius: 10%;
  color: white;
  padding: 6px 30px;
  text-align: center;
  font-size: 16px;
  margin: 4px 5px;
  opacity: 0.6;
  transition: 0.3s;
}

.btn_1:hover {
  opacity: 1;
  cursor: pointer;
}

.inline {
  display: inline-block;
  color: #ffb703;
  font-weight:bolder;
}

.additional-menu {
  margin-top: 100px;
}

img {
  max-width: 85%;
  height: auto;
}

.cards { 
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem; 
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding: 10px;
  overflow: hidden;
}

.card {
  position: relative; 
  overflow: hidden;
  max-width: 350px;
  max-height: 450px;
  color: #fff;
  background: #000;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 5%;
}

.card img { 
  max-width: 100%;
  object-fit: fill;
  backface-visibility: hidden;
  vertical-align: top;
  transition: all 0.3s ease;
}

.card figcaption { 
  position: absolute;
  text-align: center; 
  top: 50%; 
  left: 50%; 
  max-width: 20rem;
  width: 100%;
  transform: translate(-50%, -50%);
}

.card h3 { 
  font-size: 1.1rem;
  font-weight: bold;
  opacity: 0; 
  margin-bottom: 0.5rem;
  letter-spacing: 0.1rem;
  transition: all 0.4s ease;
}

.card p { 
  opacity: 0;
  font-size: 0.8rem;
  transition: all 0.8s ease;
}
    
.card:hover img {
  transform: scale(1.1);
  transition: all 0.4 ease;
  opacity: 0.3;
}

.card:hover .corner::before { 
  width: 40px; 
  opacity: 1;
  transition-delay: 0.2s;
}

.card:hover .corner::after { 
  height: 40px; 
  opacity: 1;
  transition-delay: 0.2s;
}

.card:hover h3 { 
  opacity: 1;
  transition-delay: 0.3s;
}

.card:hover p { 
  opacity: 1;
  transition-delay: 0.35s;
}

.grid-image {
  display: block;
  flex-basis: 100%;
  align-self: center;
}

.flex-1 {
  display: flex; 
  justify-content: center;
  width: 100vw;
}

.paragraph {
  border-radius: .6%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  width: 75%;
  height: 75vh;
  font-size: 20px;
  padding: 20px 40px;

  background-color: 0px 0px 11px 0px rgba(52,55,53,0.48); 
  box-shadow: 0px 0px 11px 0px rgba(52,55,53,0.48);
  margin: 70px 50px;
}

.card2 {
    width: 350px;
    height: 500px;
    background: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/125/163/original/pexels-brotherkehn-3849167.jpg?1714595090") no-repeat;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
    transition: 0.3s;
}

.whyurban h2 {
  margin-bottom: 50px;
}


.card2:hover {
  width: 350px;
  height: 500px;
  background: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/125/164/original/pexels-luke-webb-1336561-2752951.jpg?1714595100") no-repeat;
  background-size: contain;
}


.container {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: 50px, 50px;
  grid-gap: 5px;
  height: 100%;
  justify-content: center;
}

.img_gallery{
  display: flex;
  justify-content: center;
  margin: 0;
  width: 100%;
}

.membership_section {
  display: flex;
  justify-content: center;
  width: 75%; 
  align-content: center;
  margin: 0 auto;
  column-gap: 50px;
}

.member {
  height: 400px;
  width: 250px;
  border-radius: 0 0 5% 5%;
  margin: 0 150px;
  -webkit-box-shadow: 1px 3px 8px 0px rgba(0,0,0,0.32); 
  box-shadow: 1px 3px 8px 0px rgba(0,0,0,0.32);
  margin: 15px;
  text-align: center;
  padding: 0 25px;
} 

.member h1{
  background-color: #ffb80359;
  width: 100%;
}

.member:hover h1{
  background-color: #ffb703;
}

.membercard {
  font-size: 20px;
  margin: 30px;
}


.member:hover {
  transform: translateY(-25px); 
  transition: transform 0.8s cubic-bezier(0.25, 0.1, 0.25, 1);
  -webkit-box-shadow: 1px 3px 8px 0px rgba(0,0,0,0.32); 
  box-shadow: 1px 3px 8px 0px rgba(0,0,0,0.32);
}

.memberbutton {
  margin: 25px 0;
}

.memberbutton:hover {
  transform: scale(1.1);
  background-color: #ffb703;
  transition: transform 0.8s cubic-bezier(.24,.29,.44,.14);
}

.section3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px;
  height: 50vh;
}

button {
  background-color: #e8e5e480;
  border-radius: 10%;
  border: none;
  padding: 5px 15px;
  font-family: "Tenor Sans", sans-serif;
}

span {
/* Additional styling */
  color: #7f7f7f;
	position: relative;
	outline: none !important;
	transition: 0.2s;
}

span::after {
	content: "";
	background-color: #7f7f7f;
	position: absolute;
	bottom: 0;
	left: 0;
	height: 2px;
	width: 0;
	transition: 0.5s;
}

span:hover,
span:focus {
	color: #7f7f7f;
}

span:hover::after,
span:focus::after {
	background-color: #7f7f7f;
	width: 100%;
}

footer {
  display: flex;
  justify-content: space-between;
  bottom: 0;
  margin: 5px;
}

footer ul {
  list-style: none;
}
/*Tablet View*/
@media (min-width: 1000px) and (max-width: 1200px){
  .second-title {
    margin: 0px 10px;
    font-size: 40px;
  }

.paragraph {
display: flex;
flex-direction: column;
align-items: center;
}

.section2-1 {
  display: grid;
  width: 100%;
  margin: 200px 0px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  /* justify-content: space-evenly; */
  justify-items: center;
  align-content: space-evenly;
  align-items: center;
}

.card {
max-width: 250px;
}


.paragraph {
  padding-bottom: 50px;
}

.whyurban h2 {
  text-align: center;
  margin-top: 50px;
}

.whyurban p {
    font-size: 15.5px;
    text-align: center;
  }
.card2 {
  justify-content: center;
}
.membership_section {
  width: 90%;
  justify-content: center;
  display: flex;
  align-content: center;
  margin: 0 auto;
  }

.member {
  width: 300px;
}
.membercard {
  font-size: 15px;
  margin: 0;
}
.section3 {
  height: 40vh;
}

/* mobile*/
  @media (min-width: 319px) and (max-width: 480px) {
    .nav-bar {
      display: hidden;
    }
    .second-title {
      margin: 0px 10px;
      font-size: 20px;
    }
    .whyurban p {
      font-size: 15px;
    }
  }